.o-container {
    width: 100%;
    margin: auto;
}
.section0-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: darkgray;
}
.img-section-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 450px;
}
.img-section-text h1 {
    padding-bottom: 50px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}
.img-section-text p {
    font-size: 20px;
}
.images {
    display: flex;
    width: 100%;
}
.section1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section1-head-text {
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 25px;
    color: white;
    background-color: black;
}
.img-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: gray;
}
.box img {
    width: calc(100% - 20px);
}