.o-container {
    width: 100%;
    margin: auto;
}
.section0-container, .section2-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: darkgray;
}
@media (max-width: 690px) {
    .section0-container, .section2-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .head-text {
        padding-left: 0;
        padding-bottom: 10px;
    }
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding-top: 10px;
    }
    .logo-container {
        width: 100px;
    }
    .img-section-text {
    width: 90%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    }
    .img-section-text h1 {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .img-section-text p {
        width: 100%;
        padding-bottom: 10px;
    }
    .section1-head-text h2, .section3-head-text h2 {
        font-size: 25px;
    }
    .img-boxes {
        display: flex;
        flex-direction: column !important;
    }
}
.img-section-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 450px;
}
.img-section-text h1 {
    width: 100%;
    padding-bottom: 50px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}
.img-section-text p {
    font-size: 20px;
}
.images {
    display: flex;
    width: 100%;
}
.section1-container, .section3-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section1-head-text, .section3-head-text {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 25px;
    color: white;
    background-color: black;
}
.img-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: gray;
}
.box img {
    width: calc(100% - 20px);
}
.text-section-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(175, 190, 221);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.text-section {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.text-section h2 {
    font-size: 50px;
    padding-bottom: 5px;
    color: rgb(30, 131, 131);
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border-bottom: 4px solid rgb(194, 132, 40);
}
.text-section p {
    font-size: 25px;
    padding-top: 20px;
    font-size: 35px;
    padding-bottom: 5px;
    color: rgb(74, 74, 160);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.text-section2 .text-container {
    border-left: 5px solid darkblue;
    border-right: 5px solid darkblue;
}
@media (max-width: 690px) {
    .text-section p {
        font-size: 18px;
    }
    .text-section h2 {
        font-size: 24px;
    }
}